<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- created with http://www.physicseditor.de -->

<plist version="1.0">
	<dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>ptm_ratio</key>
            <real>800</real>
        </dict>
        <key>bodies</key>
		<dict>

			<key>ball</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.5000,0.5000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>100</real>
                        <key>friction</key> <real>0.5</real>
                        <key>restitution</key> <real>1</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>25.020</real>
                             <key>position</key> <string>{ 0.282,-0.260 }</string>
                         </dict>
                    </dict>
				</array>
			</dict>
			<key>bg</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>100</real>
                        <key>friction</key> <real>0.5</real>
                        <key>restitution</key> <real>0.5</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 0.000,0.000 }</string>	
								<string>{ 800.000,1.000 }</string>	
								<string>{ 801.000,21.000 }</string>	
								<string>{ 0.000,40.000 }</string>
							</array>
						</array>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 26.000,483.000 }</string>	
								<string>{ 1.000,482.000 }</string>	
								<string>{ 2.000,-1.000 }</string>
							</array>
						</array>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 799.000,480.000 }</string>	
								<string>{ 759.000,480.000 }</string>	
								<string>{ 800.000,1.000 }</string>
							</array>
						</array>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 796.000,477.000 }</string>	
								<string>{ 0.000,482.000 }</string>	
								<string>{ 2.000,467.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>dust</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.4830,0.0654 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>1</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 44.556,5.890 }</string>	
								<string>{ -46.444,5.890 }</string>	
								<string>{ -0.444,-3.110 }</string>
							</array>
						</array>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ -55.444,135.890 }</string>	
								<string>{ -58.444,128.890 }</string>	
								<string>{ -46.444,4.890 }</string>
							</array>
						</array>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 57.556,130.890 }</string>	
								<string>{ 53.556,134.890 }</string>	
								<string>{ 43.556,4.890 }</string>
							</array>
						</array>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <true/>
                        <key>id</key> <string>1</string>
                        <key>fixture_type</key> <string>CIRCLE</string>

                         <key>circle</key>
                         <dict>
                             <key>radius</key> <real>45.000</real>
                             <key>position</key> <string>{ -0.667,50.890 }</string>
                         </dict>
                    </dict>
				</array>
			</dict>
		</dict>
	</dict>
</plist>

